/* biome-ignore lint/suspicious/noUnknownAtRules: off */
@theme {
  --animate-alert-dialog-content-open: alert-dialog-content-open 0.2s linear;
  --animate-alert-dialog-content-close: alert-dialog-content-close 0.2s linear;

  @keyframes alert-dialog-content-open {
    from {
      opacity: 0;
      transform: scale(0.7);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes alert-dialog-content-close {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.7);
    }
  }
}
